<h1> Hello from views</h1>

<img style="width: 50px; height: 50px;" src="images/ruby.png"/>
<br/>

<form action="/" method="post">
  Name: <input type="text" name="name">
  <br/>
  Message:
  <br/>
  <textarea rows="4" cols="40" name="message"></textarea>
  <br/>
  <input type="submit" value="Submit">
</form>

<h2> All Users: </h2>
<ul>
  <li><a href="/Sergyenko">Sergyenko</a></li>
</ul>
