<h1>Hello, <%= @user %>!</h1>

<h2>User Messges</h2>

<% DATABASE.reverse.each do |record| %>
  <% if @user == record[:name]%>
    <p>
      <%= record[:message] %>
    </p>
  <% end %>
<% end %>

<a href="/">Go home..</a>
